/* Animation Options */
body {
	background:#383b3b;
}

.wrapper {
	margin: 2em auto;
	width:800px;
	position:relative;
}

.cycle {
	position: relative;
	top:20px;
	left:20px;

	-webkit-animation-name: ride;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;
	}

@-webkit-keyframes ride {
	from{-webkit-transform: translateX(0px);}
	to{-webkit-transform: translateX(400px);}
}

			
		