<!-- aside -->
          <aside>
            <h2>Recent <span>News</span></h2>
            <!-- .news -->
            <ul class="news">
              <li>
                <figure><strong>10</strong>October</figure>
                <h4><a href="#/news_10th_october">Physio Dublin - SEO</a></h4> 
                 I have been recently helping a school friend of mine, Alan Moynihan,  with some SEO for his business website.
        
                <a title="Physio Dublin" target="_blank" href="http://physiodublin.ie/">Physio Dublin</a>. 
                <a href="#/news_10th_october">...</a>
              </li>
            	<li>
              	<figure><strong>15</strong>Sept.</figure>
                <h4><a href="#/news_15th_september">Re-vamp of peterjwatters.com</a></h4>
                The entire site was re-vamped with a completely new design and improved usability. 
                <a title="Angular JS" target="_blank" href="http://angularjs.org/">Angular JS</a>. 
                <a href="#/news_15th_september">...</a>
              </li>
              <li>
              	<figure><strong>09</strong>June</figure>
                <h4><a href="#/news_09th_june">Fitness Performance Systems Website launched</a></h4>
                The  <a title="Fitness Performance Systems" target="_blank" href="http://fitnessperformancesystems.ie/">Fitness Performance Systems</a>. 
                 website was launched<a href="#/news_09th_june">...</a>
              </li>
            </ul>
            <!-- /.news -->
          </aside>
          <!-- content -->
          <section>
            <article>
              <h2>Welcome to <span>peterjwatters.com</span></h2>
              <p> 
                This is my personal homepage and features my portfolio of websites and details of some projects that I have completed. Feel free to e-mail me with any comments or if you have a project you feel I may be interested in. Visit my contact page for details.
               
            </article> 
          </section>