<section>
<article>
<ul class="news">
    <li>
    <figure><strong>10</strong>October</figure>
        <h4><a href="#">Physio Dublin - SEO</a></h4>
        I have been recently helping a school friend of mine, Alan Moynihan,  with some SEO for his business website.
        Alan founded and runs Laurel Lodge Physiotherapy in Castleknock,Dublin 15 and has been trying to increase his customer
        base via his website. I helped him optimise his site on Google places to help him stand out from the competition and with various other aspects of the site. Alan is a great physiotherapist and a great guy so it was a pleasure bing able to help him out. 

     </li>
</ul>

</article>
</section>
