<section>
<article>
	<h2>My <span>Projects </span></h2>
			
			<p>
			I have worked on various different projects over the years academically and professionally. Details of some of these can be found below. I have not listed the websites or applications listed here as they are avaiable in my web portfolio <a href="#/portfolio">here</a>.
			</p> 


			<h3>Professional <span>Projects </span></h3>
			<h4>Java HR management system:</h4>
			<p>
			I am currently developing a HR management system as part of my continuous assessment for the Server Side Programming I am taking. 
			Employers can advertise vacancies and employees can browse available jobs and apply for jobs. My plan is to make the system as extendible as possible with a view to turning it into  acomplete employee tracking system. </p>
			<p>
			The core logic system is written using a combination of servlets and JSP's
			with XHTML, CSS and JavaScript taking care of the aesthetic and validation aspects. It is still a work in progress but has taught me a lot about Java server side techniques which coupled with my exisitng knowledge give me a great all around knowledge base in the field.  
			</p>

			<h3>Academic <span>Projects </span></h3>

			<h4>Masters thesis:</h4>
			<p>
			The thesis I have chosen as part of my masters involves using the Google Visualisation API to graph academic performance of students at DCU. 
			The API basically enables the generation of various live charts or dashboards that can be used to display real time data in a very elgant and easy to code manner. 
			I am really enjoying working on this and it is improving the functionality and asthetic appeal of the web pages I am creating.
			 </p>


			<h4>Java HR management system:</h4>
			<p>
			I developed a HR management system as part of my continuous assessment for a Server Side Programming module I took as part of my Masters degree. Employers can advertise vacancies and employees can browse available jobs and apply for jobs. My goal was to make the system as extendible as possible with a view to turning it into a complete employee tracking system. </p>
			<p>
			The core logic was a J2EE based application written using a combination of servlets and JSP's and
			with XHTML, CSS and JavaScript taking care of the aesthetic and validation aspects.
			</p>
						
			<h4>Java Client/Server applications:</h4>
			<p>
			I have created various client server applciations in Java during my under graduate and post graduate studies. The most complex were a client server news application where the server can create
			new stories and edit them and the client can view this. I have also written a client/server SMS application which includes user authentication and takes into account call credit. 
			The toughest one I have done was a client server Checkers game I implemented using RMI.
			 </p>
			
			
			
			<h4>Java Encryption GUI:</h4>
			<p>
			As part of my study of Network security I wrote a data applciation to encrypt data using various methods from simple algorithms 
			like the Caesar Cipher to more complex like DES, Triple Des and AES. 
			</p>
			
			<h4>PEL publications database:</h4>
			<p>
			This was my final year project and is a HTML/PHP/SQL driven online library for the 
			<a href="http://elm.eeng.dcu.ie/~pel/">PEL</a> laboratory in DCU. They publish a lot of papers and needed a way to keep track of papers and paper references. I really enjoyed making the site and 
			it was my first dynamic web-page. The site has various features such as:
			<ul>
			<li>Simple paper search</li>
			<li>Advanced search with list generation and boolean(AND/OR combinations) capability</li>
			<li>Password protected administration area where papers and users can be added/edited/deleted </li>
			</ul>
			</p>
			<p>
			A live working version of the site can be found 
			<a href="http://www.peterjwatters.com/PEL/index.php" target="_blank">here</a>.
			</p>
			

			<h4>Web accessibility and usability:</h4>
			<p>
			This was one of my assignments in 4th year. As part of a group I evaluated the accessibility of 
			<a href="http://www.screenclick.com/">ScreenClick</a>.
			Its a popular online DVD rental store and we carried out various tests on the site including:
			<ul>
			<li>Usability evaluation using test subjects</li>
			<li>W3C web accessibility standards check</li>
			<li>Overall accessibility and usability of site</li>
			</ul>
			</p>
			<p>
			We also made our own revised version of the home page and managed to get a AAA accessibility rating, something which is pretty tough. 
			We got 83% for this project and it was one of my favourite subjects. A basic HTML version of the report including sample site can be found
			<a href="http://www.peterjwatters.com/webproject/Project/index.html" target="_blank">here</a>. 
			</p>

	</article>

</section>