<section>
<article>
<ul class="news">
    <li>
 
	<figure><strong>15</strong>Sept.</figure>
                <h4><a href="#">Re-vamp of peterjwatters.com</a></h4>
                The entire site was re-vamped with a completely new design and improved usability.  It was re-built using 
                <a title="Angular JS" target="_blank" href="http://angularjs.org/">Angular JS</a>.   
                
                AngularJS is a MVC JavaScript framework designed to develop single page applications 
                using a MVC in an easy andc intuitive way with automatic view/model synchronization.
                Angular is supported by all major browsers and has little overhead.

                <br />
                Twitter Bootstrap is also used along with jQuery. 

                http://twitter.github.com/bootstrap/
   </li>
</ul>             


</article>
</section>
