<section>
<article>
<ul class="news">
    <li>
    <figure><strong>09</strong>June</figure>
                <h4><a href="#">Fitness Performance Systems Website launched</a></h4>
                The Fitness Performance Systems Website was launched on 9th June 2012. 
                This is a website project I completed to help an ex school friend of mine Dara O'Boyle who runs a local 
                Crossfit training facility. The website is powered by Wordpress CMS so Dara can easily update and interact with his clients.
	</li>
</ul>

</article>
</section>
