 <h2>Site <span>Map</span></h2>
        <p>This website is a single page application built using AngularJS and content is fetched from various seperate locations and displayed in the browser witout the need for a refresh. A sitemap of these links are listed below.
        </p>


        <ul class="list1">
          <li><a  href="#/home">Home</a></li>
          <li><a  href="#/projects">Projects</a></li>
          <li><a  href="#/portfolio">Portfolio</a></li>
          <li><a  href="#/blog">Blog</a></li>
          <li><a  href="#/contact">Contact</a></li>
          <li><a  href="#/sitemap">Sitemap</a></li>
        </ul>
        
      