<section>
	<article>
	<h2> PEL Library: <span>B.Eng Final Year Project</span></h2>
	<p>
	This site is an online library I made as my final year project for my B.Eng in Digital Media Engineering. It's built with XHTML/CSS/PHP/MySQL and acts as an online database of academic papers produced by the PEL laboratory in DCU. The site can be used to search for paper references globally and also features an administration section where references can be added, deleted or edited. 
	This was the first dynamic web application I ever built and I recieved first class honours for the project.   
	</p>							
    <a href="http://www.peterjwatters.com/PEL/index.php" target="_blank"><img src="images/pel.jpg" width="300" height="200" alt="view pdf"  class="float-left" /></a>		
	</article>

</section>