<section>
	<article>
	<h2> FPS: <span> CROSSFIT 15</span>
	<a href="http://fitnessperformancesystems.ie/" target="_blank"> <img src="images/fps_logo.png" width="190" height="39" alt="Fitness Performance Systems: Crossfit 15"  /></a>
	</h2>
	    					
	<p>
		I worked on this project in with an ex-school friend of mine, Dara O'Boyle. He is the owner and founder of a Crossfit training centre in Blanchardstown and needed some help getting a website up and running. 
		He has purchased a 'Website builder' deal on CityDeal but was having difficulty getting it up and running. I helped him out by configuring URL to link to his hosting account and to setup wordpress for him. He had already gotten an account with <a href="http://www.elegantthemes.com/" target="_blank">ElegantThemes</a> and wished to use one of those themes to style the site. 
	</p>	
	<p>
		I chose a suitable theme and installed for him, making sure the site worked well across platforms. I populated a lot of initial content and set up the site so he could continue on with it himself. The site has been accessed <a href="http://fitnessperformancesystems.ie/" target="_blank">here</a>. Dara has made a lot of changes to the colour scheme and some UI elements as time went on but a lot of the main functionality remains the same.  
	</p>								
	</article>

</section>