<section>
	<article>
	<h2> Integra <span>Rx </span> <a href="http://peterjwatters.com/portfolioSites/integra/" target="_blank">
		<img src="images/IntegraBanner.jpg" width="190" height="39" alt="Integra: Pharmacy Management Software"  class="float-left" /></a>	</h2>
						
	<p>
	This is a project I worked on for Ocuco in 2009 for their pharmaceutical management software product. It is clean and crisp and a great advertisement of the product and it's key features. 
	I used PHP to build the application structure and <a href="http://www.jquery.com">jQuery</a> and Javascript to provide a more user friendly navigation system. 
	</p>
	<p>
	This project was completed on a tight deadline - 24 hours to be exact and the then Product Owner, Tony Rudden, and I spent a full day working on it non stop at my apartment.
	We had some example sites we liked and then using that I designed and developed it within a day. At the time he was the Product Manager and I was in technical support so it was difficult
	for him to convince them to give me a day to work from home with him. I used this as motivation to show what I could do in a short space of time, given the opportunity. 
	</p>	
	<p>
	Tony has since bought the product and taken over full control of it from Ocuco under the name TouchStore. They have rebranded the site to match the new company but the framework and design I put in place remains much the same. The URL <a href="http://www.integra.ie" target="_blank">www.integra.ie</a> will be re-directed to the new site however you can see a copy of the site I developed 
	<a href="http://peterjwatters.com/portfolioSites/integra/" target="_blank">here</a> . 
	</p>						
	<p>
	I also helped Tony develop a training CD that used HTML pages to show videos to the users on different features of the product. It was designed so it would auto-play on insertion and begin playing an introduction video in the users browser. The was before HTML5 came along so it was harder to do then than it sounds now. 
	</p>		
	</article>

</section>