/* Animation Basics */
body {
	background:#383b3b;
}

.wrapper {
	margin: 2em auto;
	width:800px;
	position:relative;
}

.cycle {
	position: relative;
	top:20px;
	left:20px;

	-webkit-animation-name: ride;
	-moz-animation-name: ride;
	-o-animation-name: ride;
	animation-name: ride;
	
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
	
	-webkit-animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-o-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
			
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;

	}

@-webkit-keyframes ride {
	from{-webkit-transform: translateX(0px);transform: translateX(0px);}
	to{-webkit-transform: translateX(400px);transform: translateX(400px);}
}

@-moz-keyframes ride {
	from{-moz-transform: translateX(0px);transform: translateX(0px);}
	to{-moz-transform: translateX(400px);transform: translateX(400px);}
}

@-o-keyframes ride {
	from{-o-transform: translateX(0px);transform: translateX(0px);}
	to{-o-transform: translateX(400px);transform: translateX(400px);}
}

@-keyframes ride {
	from{transform: translateX(0px);} 
	to{transform: translateX(400px);}
}
			
		