#map{
	width: 100%; 
	height: 400px;
}

#locations .location-entry{
	display: inline-block;
}
.location-entry-text{
	padding-left: 5%;
}

.locationControls, .weatherForecastWell{
	display:none;
}

.weatherLabel{
	font-weight: bold;
}