 <div id="canvas">
   <!-- START TOPSECTION -->
     <div id="topsection" class="top-myfolder">
	  
	  <div id="myfolder-chart">
	  <div class="chart-head">Document Breakdown</div>
	  <img src="images/chart.png" alt="Chart" width="150" />
	  </div>
	  
	  <div id="myfolder-overview">
	 Overview
	  <br />
	  <span id="underwelcome">Find and access all of your documents easily and in the one place.</span>
	  </div>
	  
	  <div id="overall-docinfo">
	    <div id="overall-head">Overall Document info</div>
		  <span class="overall-downloads">Number of Documents: <strong>154</strong></span>
		  <span class="overall-last">Last generated: <a href="" title="Document name">document</a></span>
	  </div>
	 </div>
   <!-- END TOPSECTION -->	

  
  <!-- START DOCUMENT LIST -->
   <div id="doclist">
   <div class="title"><img class="titleIcon" alt="" src="images/myfolder2.png"><h1>My Folder</h1>
      	 <form action="" class="myfolder-search">
         <input type="text" onclick="this.value=''" value="Search through your generated documents here..." onblur="formDefault(this)" name="search">
         <input type="submit" value="" name="find">
    </form>
   </div>
   </div>


   <ul class="thumbnails">
	  <li class="span2">
	    <div class="thumbnail">
	      <img src="thumbs/2.jpg" alt="Thumbnail">
	      <h3>Lorem ipsum dolor sit ames</h3>	     
	      	<blockquote class="thumbnail-description-blockquote">			
			  <small>Created by:<cite title="Source Title">Alan Hayes</cite></small>
			  <small>Partner:<cite title="Source Title">ESA</cite></small>
			  <small>Downloads:<cite title="Source Title">34</cite></small>
			</blockquote>

			  			<button class="btn btn-block">View</button>
						<button class="btn btn-primary btn-block">Download</button>
	    </div>
	</li>
	   <li class="span2">
	    <div class="thumbnail">
	      <img src="thumbs/4.jpg" alt="Thumbnail">
	      <h3>Lorem ipsum dolor sit ames</h3>	     
	      	<blockquote class="thumbnail-description-blockquote">			
			  <small>Created by:<cite title="Source Title">Alan Hayes</cite></small>
			  <small>Partner:<cite title="Source Title">ESA</cite></small>
			  <small>Downloads:<cite title="Source Title">34</cite></small>
			</blockquote>

			  			<button class="btn btn-block">View</button>
						<button class="btn btn-primary btn-block">Download</button>
	    </div>
	</li>
	 <li class="span2">
	    <div class="thumbnail">
	      <img src="thumbs/4.jpg" alt="Thumbnail">
	      <h3>Lorem ipsum dolor sit ames</h3>	     
	      	<blockquote class="thumbnail-description-blockquote">			
			  <small>Created by:<cite title="Source Title">Alan Hayes</cite></small>
			  <small>Partner:<cite title="Source Title">ESA</cite></small>
			  <small>Downloads:<cite title="Source Title">34</cite></small>
			</blockquote>

			  			<button class="btn">View</button>
						<button class="btn btn-primary">Download</button>
	    </div>
	</li>
	 <li class="span2">
	    <div class="thumbnail">
	      <img src="thumbs/5.jpg" alt="Thumbnail">
	      <h3>Lorem ipsum dolor sit ames</h3>	     
	      	<blockquote class="thumbnail-description-blockquote">			
			  <small>Created by:<cite title="Source Title">Alan Hayes</cite></small>
			  <small>Partner:<cite title="Source Title">ESA</cite></small>
			  <small>Downloads:<cite title="Source Title">34</cite></small>
			</blockquote>

			  			<button class="btn">View</button>
						<button class="btn btn-primary">Download</button>
	    </div>
	</li> 
	<li class="span2">
	    <div class="thumbnail">
	      <img src="thumbs/6.jpg" alt="Thumbnail">
	      <h3>Lorem ipsum dolor sit ames</h3>	     
	      	<blockquote class="thumbnail-description-blockquote">			
			  <small>Created by:<cite title="Source Title">Alan Hayes</cite></small>
			  <small>Partner:<cite title="Source Title">ESA</cite></small>
			  <small>Downloads:<cite title="Source Title">34</cite></small>
			</blockquote>

			  			<button class="btn">View</button>
						<button class="btn btn-primary">Download</button>
	    </div>
	</li>
	</ul>

   <ul class="documents-list myfolder-list">
    <li>
	<img src="thumbs/2.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Created by: <strong>Alan Hayes</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	<span>Downloads: <strong>34</strong></span>
	</div>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
	
	
    <li>
	<img src="thumbs/3.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Popularity: <strong>Very Popular</strong></span>
	<span>Downloads: <strong>364</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	</div>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
	
	    <li>
	<img src="thumbs/4.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Popularity: <strong>Very Popular</strong></span>
	<span>Downloads: <strong>364</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	</div>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
	
	    <li>
	<img src="thumbs/5.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Popularity: <strong>Very Popular</strong></span>
	<span>Downloads: <strong>364</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	</div>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
	
	    <li>
	<img src="thumbs/7.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Popularity: <strong>Very Popular</strong></span>
	<span>Downloads: <strong>364</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	</div>
	
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
	
	    <li>
	<img src="thumbs/6.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Popularity: <strong>Very Popular</strong></span>
	<span>Downloads: <strong>364</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	</div>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
	
	 <li>
	<img src="thumbs/1.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit ames</a>
	<span>Vestibulum dictum adipiscing dolor amauris libero, venenatis.</span>
	<div class="list-details">
	<span>Popularity: <strong>Very Popular</strong></span>
	<span>Downloads: <strong>364</strong></span>
	<span>Partner: <strong>ESA</strong></span>
	</div>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Generate"><div class="download-img"></div></a>
	</li>
   </ul>

   <div class="pagination">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
  </div>



    <div id="right-sidebar">
	 <div class="boxrgb">
	  <div class="innerbox">
	  <!-- Start boxhead -->
	   <div class="boxhead">
	     <div id="myprofile"></div> 
		 <span class="profiletext">My Profile</span>
	   </div>
	  <!-- End boxhead --> 
	   
	   <div id="profilerow1">
	   <img src="images/avatar.jpg" alt="Your Avatar" id="profileavatar" />
	   <ul class="rightavatar">
	  <li><div class="thisisyou">This is You</div></li>
	  <li><span class="minhead">Company: <strong>Nova LTD</strong></span></li>
  	  <li><span class="minhead">Most Used: <a href="" title="Generated Document" class="gendocument">document</a></span></li>
	  </ul>
	   </div>
	   
	   <ul id="profilerow2">
	   <li>124<br /><span>Documents</span></li>
	   <li>100<br /><span>Favourites</span></li>
	   <li>45<br /><span>Reported</span></li>
	   </ul>
	   
	   <a href="my-profile.html" title="View your info" id="infoprof"><div class="viewinfo"></div></a>
	  </div>
	 </div>
	
		 <div class="boxrgb boxfilters">
	  <div class="innerbox innerfilters">
	   <div class="boxhead">
	     <div id="advanced-filters"></div> 
		 <span class="filterstext">Advanced Filters</span>
	   </div>
	   
	  <form action="POST"> 
	  <ul class="filters-list">
	   <li><input type="checkbox" name="recentdocs" value="recentdocs" /> Recend Documents Only</li>
	   <li><input type="checkbox" name="currentdocs" value="currentdocs" checked="checked" /> Show Current User's Docs Only</li>
	   <li class="disabledfilter"><input type="checkbox" name="disabled" value="disabled" disabled="disabled" /> Disabled</li>
	   <li class="disabledfilter"><input type="checkbox" name="disabledselected" value="disabledselected" disabled="disabled" checked="checked" /> Disabled Selected</li>
	  </ul>
	  
	  <span class="filters-head">Show These Document Types</span>
	  <ul class="filters-list2">
	    <li><input type="checkbox" name="safetystat" value="safetystat" checked="checked" /> Safety Statements</li>
	    <li><input type="checkbox" name="handbooks" value="handbooks" checked="checked" /> Handbooks</li>
		<li><input type="checkbox" name="methstat" value="methstat" /> Method Statements</li>
		<li><input type="checkbox" name="contracts" value="contracts" /> Contracts</li>
	  </ul>	
	  </form>
	   
	  </div>
	 </div>
	 
	</div>