<div id="canvas">

<!-- START TOPSECTION -->
 <div id="topsection" class="top-myfolder">
  
  <div id="uploadlogo">
   <a href="" title="Upload Logo" id="uploadbtn"><div id="uploadimg"></div></a>
  </div>
  
  <div id="myfolder-overview">
 Hi Alan, This is you!
  <br />
  <span id="underwelcome">All your details in one place!</span>
  
  	  
  <div class="progress-container">
  	 Profile Completion: 45%
       <div id="progressbar">
         <div class="progress-overlay"></div>
       </div>
  </div>
  
  
  </div>
  
  <div id="myprofile-chart">
     <div class="chart-head">Document Breakdown</div>
     <img src="images/chart.png" alt="Chart" width="150" />
  </div>
 </div>
<!-- END TOPSECTION -->	


<!-- START ANSWERS LIST -->
<div id="doclist">
<div class="title"><img class="titleIcon" alt="" src="images/answers.png"><h1>My Answers</h1>
  	 <form action="" class="myfolder-search">
     <input type="text" onclick="this.value=''" value="Search through your answers here..." onblur="formDefault(this)" name="search">
     <input type="submit" value="" name="find">
</form>
</div>
</div>

<ul class="answers-list">

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->
  
<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->

<!-- START BOX -->
  <li>
  <div class="answer-title">
  
  <span>
  <div>Title:</div>
  <span>questionTitle</span>
  </span>
  
  <span>
  <div>Answered by:</div>
  <span>Alan Hayes</span>
  </span>
  
  <span>
  <div>Date:</div>
  <span>20/07/2007</span>
  </span>
  
  <span>
  <div>Your Answer:</div>
  <span>This is your answer</span>
  </span>
  </div>
  <a href="" title="Edit Question">Edit</a>
  </li>
<!-- END BOX -->


</ul>
</div>


<div id="right-sidebar">
 <div class="boxrgb">
  <div class="innerbox">
  <!-- Start boxhead -->
   <div class="boxhead">
     <div id="myprofile"></div> 
	 <span class="profiletext">My Profile</span>
   </div>
  <!-- End boxhead --> 
   
   <div id="profilerow1">
   <img src="images/avatar.jpg" alt="Your Avatar" id="profileavatar" />
   <ul class="rightavatar">
  <li><div class="thisisyou">This is You</div></li>
  <li><span class="minhead">Company: <strong>Nova LTD</strong></span></li>
	  <li><span class="minhead">Last Generated: <a href="" title="Generated Document" class="gendocument">document</a></span></li>
  </ul>
   </div>
   
   <ul id="profilerow2">
   <li>124<br /><span>Documents</span></li>
   <li>100<br /><span>Favourites</span></li>
   <li>45<br /><span>Reported</span></li>
   </ul>
   
   <a href="" title="View your info" id="infoprof"><div class="viewinfo"></div></a>
  </div>
 </div>

 <div class="boxrgb boxfilters">
   <div class="innerbox innerfilters">
     <div class="boxhead">
       <div id="advanced-filters"></div> 
	   <span class="filterstext">Advanced Filters</span>
   </div>
   
  <form action="POST"> 
  <ul class="filters-list">
   <li><input type="checkbox" name="recentansw" value="recentansw" /> Recend Answers Only</li>
   <li><input type="checkbox" name="oldestansw" value="oldestansw" checked="checked" /> Oldest Answers First</li>
  </ul>
  </form>
   
  </div>
 </div>
 
</div>