  <div id="canvas">


<div class="client-editor">

<form class="partner-questionsform">
  <ul class="partner-questionslist">
   <li>
   <h3>Ask the following question</h3>
   <input type="text" placeholder="Type your question" />
   
   <div class="partnerq-container">
    <div class="partnerq-createnew">
	<input type="checkbox" name="something" value="else" />
	<span>Create new</span>
	</div>
	 
	 <div class="rightfields">
	 <span>Enter a tag <input type="text" value="" /><img class="infoimg" width="17" src="images/information.png" alt="This is some info!" /></span>
	 <span>The answer will be
	 <select>
     <option value="text">Text</option>
     <option value="text2">Text2</option>
     <option value="text3">Text3</option>
    </select>
	<img class="infoimg" width="17" src="images/information.png" alt="This is some info!" /></span>
	 </div>
   </div> 
   
   <span>Include this chapter if the answer is <input type="text" value="" /></span>
   <input type="button" value="Done!" class="blue-btn" />
   </li>
   
   
   
   
   
   <li>
   <h3>Insert the answer of the following question</h3>
   <input type="text" placeholder="Type your answer" />
   
   <div class="partnerq-container">
    <div class="partnerq-createnew">
	<input type="checkbox" name="something" value="else" />
	<span>Create new</span>
	</div>
	 
	 <div class="rightfields">
	 <span>Enter a tag <input type="text" value="" /><img class="infoimg" width="17" src="images/information.png" alt="This is some info!" /></span>
	 <span>The answer will be
	 <select>
     <option value="text">Text</option>
     <option value="text2">Text2</option>
     <option value="text3">Text3</option>
    </select>
	<img class="infoimg" width="17" src="images/information.png" alt="This is some info!" /></span>
	 </div>
   </div> 

   <input type="button" value="Done!" class="blue-btn" />
   </li>
  </ul>
  
</form>
  
</div>
  </div>

  <script type="text/javascript">
	$(function(){
		var rightSideBar = $('#right-sidebar').load("partials/right-sidebar-partner.html");

	});
</script>
  
    <div id="right-sidebar">
	
	 
	</div>