  <div id="canvas">

   <!-- START TOPSECTION -->
     <div id="topsection">
<span class="selected-template">Selected template: This is a template</span>
<ul class="partner-activitylist">
	    <li><img src="images/chart.png" alt="Chart" width="150" class="partner-tactivity" /></li>
		 <li><img src="images/chart1.png" alt="Chart" width="580" class="partner-tactivity2" /></li>
</ul>		 
	 </div>
   <!-- END TOPSECTION -->	

<div id="search">
   <div id="innersearch">
     Phasellus: <span id="regtext"> Nunc augue est, mattis sed hendrerit non, commodo sit amet dolor vivamus.</span>
   </div>
   	 <form style="float: right; position:relative;left: -5px; margin-top: -11px;" class="searchform" action="">
         <input type="text" name="search" onblur="formDefault(this)" value="Search for a document here..." onclick="this.value=''">
         <input type="submit" name="find" value="">
    </form>
  </div>
   
  <!-- START DOCUMENT LIST -->
   <div id="doclist">
   <div class="title"><img class="titleIcon" alt="" src="images/stats.png"><h1>Recent generated documents</h1></div>
   </div>
   <ul class="documents-list">
    <li>
	<img src="thumbs/1.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit amet consectetur</a>
	<span class="date-generated">Date generated: <strong>23-05-2012</strong></span>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Download"><div class="download-img"></div></a>
	</li>
	
	
    <li>
	<img src="thumbs/2.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit amet consectetur</a>
	<span class="date-generated">Date generated: <strong>23-05-2012</strong></span>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Download"><div class="download-img"></div></a>
	</li>
	
    <li>
	<img src="thumbs/3.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit amet consectetur</a>
	<span class="date-generated">Date generated: <strong>23-05-2012</strong></span>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Download"><div class="download-img"></div></a>
	</li>
	
    <li>
	<img src="thumbs/4.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit amet consectetur</a>
	<span class="date-generated">Date generated: <strong>23-05-2012</strong></span>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Download"><div class="download-img"></div></a>
	</li>
	
    <li>
	<img src="thumbs/5.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit amet consectetur</a>
	<span class="date-generated">Date generated: <strong>23-05-2012</strong></span>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Download"><div class="download-img"></div></a>
	</li>
	
    <li>
	<img src="thumbs/6.jpg" alt="Thumbnail" />
	<a href="" title="Title">Lorem ipsum dolor sit amet consectetur</a>
	<span class="date-generated">Date generated: <strong>23-05-2012</strong></span>
	<a class="generate" href="" title="View"><div class="view-img"></div></a>
	<a class="generate" href="" title="Download"><div class="download-img"></div></a>
	</li>
   </ul>
   
              <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
			
  </div>

<script type="text/javascript">
	$(function(){
		var rightSideBar = $('#right-sidebar').load("partials/right-sidebar-partnerTemplates.html");

	});
</script>
  
    <div id="right-sidebar">
	
	 
	</div>