  <div id="canvas">

   <!-- START TOPSECTION -->
   <div class="partner-top">
     <ul>
	  <li>
	 <span><strong>Selected Template:</strong> Safety Statement</span>
	  <form action="post">
	   <input type="text" value="New chapter name..." />
	   <input type="submit" value="+" class="blue-btn" />
	  </form>
     </li>

 <li><strong>Rule:</strong> This chapter is included when the question "Do you use forklifts?" is answered with "Yes".<a href="#" title="Auto include">Auto-include</a></li>
 

 </ul>   
  
     <form action="" class="partner-underlist">
	<input type="button" value="Add" class="white-btn add-btn" />
	<input type="button" value="Preview" class="white-btn preview-btn"  />
	 <select>
     <option value="variable">Variable</option>
     <option value="table of contents">Table of Contents</option>
     <option value="logo">Logo</option>
    </select> 
	<a href="" class="white-btn view-activity" title="View Activity"><img src="images/view-activity.png" alt="View Activity" class="view-activitybtn" />View Activity</a>
    </form>
	
   </div>
   <!-- END TOPSECTION -->	

<div class="partner-editor">Editor</div>
  </div>

  <script type="text/javascript">
	$(function(){
		var rightSideBar = $('#right-sidebar').load("partials/right-sidebar-partner.html");

	});
</script>
    <div id="right-sidebar">
	
	 
	</div>