<div class="boxrgb">
	  <div class="innerbox">
	  <span class="create-templ">Save Changes</span>
	  <ul class="partner-rightboxlist">
	   <li>Save changes to this chapter here...</li>
	   <li><a href="" title="Save Changes" class="partner-savechanges orangebtn">Save</a></li>
	   <li><span>or</span></li>
	   <li><a href="" title="Save Changes" class="partner-publish orangebtn">Publish</a></li>
	  </ul>
	  
	  </div>
	 </div>
	
	 <div class="boxrgb boxfilters">
	   <div class="innerbox innerfilters">
	     <div class="boxhead">
	       <div class="templates-icon"></div> 
		   <span class="filterstext">Templates</span>
	   </div>
	   <ul class="folderlist">
	   
	   <li>
	   <img src="thumbs/1.jpg" alt="" class="templates-img" />
	   Safety Statement
	   <span>
	   <a href="" title="Activity" class="activity-btn"></a>
	   <a href="" title="Edit" class="partneredit-btn"></a>
	    </span>
	   </li>
	
	   <li>
	   <img src="thumbs/2.jpg" alt="" class="templates-img" />
	   Method Statement
	   <span>
	   <a href="" title="Activity" class="activity-btn"></a>
	   <a href="" title="Edit" class="partneredit-btn"></a>
	   </span>
	   </li>
	   
	   <li>
	   <img src="thumbs/3.jpg" alt="" class="templates-img" />
	   Contract
	   <span>
	   <a href="" title="Activity" class="activity-btn"></a>
	   <a href="" title="Edit" class="partneredit-btn"></a>
	   </span>
	   </li>
	   
	   <li>
	   <img src="thumbs/4.jpg" alt="" class="templates-img" />
	   Fire Safety
	   <span>
	   <a href="" title="Activity" class="activity-btn"></a>
	   <a href="" title="Edit" class="partneredit-btn"></a>
	   </span>
	   </li>
	   
	   <li>
	   <img src="thumbs/5.jpg" alt="" class="templates-img" />
	   Accident Form
	   <span>
	   <a href="" title="Activity" class="activity-btn"></a>
	   <a href="" title="Edit" class="partneredit-btn"></a>
	   </span>
	  </li>
	  
	   </ul>
	   
	  </div>
	 </div>
	 