<div class="navbar-inner topmenu-navbar-inner">
		    <ul class="nav topmenu-nav">
		     <li class="menulink-dropdown-menu-li active"><a id="menulink-home" href="#">Home</a></li>
 			<li>
			     <ul class="nav nav-pills">
					  <li class="dropdown">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b>  Client </a>
					    <ul class="topmenu-dropdown dropdown-menu">
							 <li class="menulink-dropdown-menu-li"><a id="menulink-myProfile" href="#">My Profile</a></li>
						     <li class="menulink-dropdown-menu-li"><a id="menulink-myFolder" href="#">My Folder</a></li>
						     <li class="menulink-dropdown-menu-li"><a id="menulink-myDocuments" href="#">My Documents</a></li>
		 					 <li class="menulink-dropdown-menu-li"><a id="menulink-myQuestions" href="#">Questions</a></li>
					    </ul>
					  </li>
				</ul>
			</li>
		     <li>
			     <ul class="nav nav-pills">
					<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b> Partner</a>
					 <ul class="topmenu-dropdown dropdown-menu">
		 				 <li class="menulink-dropdown-menu-li"><a id="menulink-partnerOverview" href="#">Template Overview</a></li>
						 <li class="menulink-dropdown-menu-li"><a id="menulink-partnerActivity" href="#">Template Activity</a></li>
		 				 <li class="menulink-dropdown-menu-li"><a id="menulink-partnerEditor" href="#">Editor</a></li>
		 				 <li class="menulink-dropdown-menu-li"><a id="menulink-partnerQuestions" href="#">Questions</a></li>
					  </ul>
					</li>
				</ul>
			</li>
		    </ul>

		  </div>