@charset "utf-8";

/* CSS Document */

body

{

margin:0px;

}

.top_section

{

background-image:url(images/top_bg1.gif);

background-repeat:repeat-x;

height:225px;

background-color:#ffffff;

}

.inner_pg_top_section_bg

{

background-image:url(images/inner_pg_top_section_bg.jpg);

background-repeat:repeat-x;

height:165px;

background-color:#ffffff;

}

.bttn_bg

{

margin-top:0px;

background-image:url(images/bttn_bg.jpg);

background-repeat:repeat-x;

height:33px;

}



.text

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:18px;

}



.career_text

{

font-family:Tahoma;

font-size:12px;

color:#000000;

line-height:18px;

}



.career_text a

{

font-family:Tahoma;

font-size:12px;

color:#000000;

text-decoration:none;

}



.career_text a:hover

{

font-family:Tahoma;

font-size:12px;

color:#000000;

text-decoration:underline;

}



.text_home

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:22px;

}



.text a

{

font-family:Tahoma;

font-size:11px;

line-height:22px;

color:#e2342c;

padding-left:1px;



text-decoration:underline;

}

.red_text

{

font-family:Tahoma;

font-size:11px;

line-height:22px;

color:#e2342c;

}

.red_text a

{

font-family:Tahoma;

font-size:11px;

line-height:22px;

color:#e2342c;

text-decoration:none;

}

.bold_text

{

font-family:Tahoma;

font-size:11px;

font-weight:bold;

padding-left:1px;

}

.navigation

{

width:932px;

height:33px;

margin:0px;

margin-top:0px;

padding:0px;

float:left;

}

.about a

{

width:88px;

height:33px;

background-image:url(images/about.jpg);

background-repeat:no-repeat;

text-indent:-1000px;

float:left;

}

.about a:hover

{

width:88px;

height:33px;

background-image:url(images/about_rollover.jpg);

background-repeat:no-repeat;

}

.about a.activea

{

width:88px;

height:33px;

background-image:url(images/about_rollover.jpg);

background-repeat:no-repeat;

}

.products a

{

width:98px;

height:33px;

background-image:url(images/products2.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.products a:hover

{

width:98px;

height:33px;

background-image:url(images/products_rollover.jpg);

background-repeat:no-repeat;

}

.products a.activep

{

width:98px;

height:33px;

background-image:url(images/products_rollover.jpg);

background-repeat:no-repeat;

}

.online_shp a

{

width:119px;

height:33px;

background-image:url(images/online_shop.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.online_shp a:hover

{

width:119px;

height:33px;

background-image:url(images/online_shop_rollover.jpg);

background-repeat:no-repeat;

}

.online_shp a.activeo

{

width:119px;

height:33px;

background-image:url(images/online_shop_rollover.jpg);

background-repeat:no-repeat;

}

.support a

{

width:97px;

height:33px;

background-image:url(images/support.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.support a:hover

{

width:97px;

height:33px;

background-image:url(images/support_rollover.jpg);

background-repeat:no-repeat;

}

.support a.actives

{

width:97px;

height:33px;

background-image:url(images/support_rollover.jpg);

background-repeat:no-repeat;

}

.downld a

{

width:90px;

height:33px;

background-image:url(images/download.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.downld a:hover

{

width:90px;

height:33px;

background-image:url(images/download_rollover.jpg);

background-repeat:no-repeat;

}

.downld a.actived

{

width:90px;

height:33px;

background-image:url(images/download_rollover.jpg);

background-repeat:no-repeat;

}

.news a

{

width:80px;

height:33px;

background-image:url(images/news.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.news a:hover

{

width:80px;

height:33px;

background-image:url(images/news_rollover.jpg);

background-repeat:no-repeat;

}

.news a.activen

{

width:80px;

height:33px;

background-image:url(images/news_rollover.jpg);

background-repeat:no-repeat;

}
.home a

{

width:80px;

height:33px;

background-image:url(images/home.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.home a:hover

{

width:80px;

height:33px;

background-image:url(images/home.jpg);

background-repeat:no-repeat;

}

.home a.activen

{

width:80px;

height:33px;

background-image:url(images/home.jpg);

background-repeat:no-repeat;

}
.orderdemo a

{

width:84px;

height:33px;

background-image:url(images/order_demo_new.gif);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.orderdemo a:hover

{

width:84px;

height:33px;

background-image:url(images/order_demo_new.gif);

background-repeat:no-repeat;

}

.orderdemo a.actives

{

width:84px;

height:33px;

background-image:url(images/order_demo_new.gif);

background-repeat:no-repeat;

}

.downloadbrochure a

{

width:97px;

height:33px;

background-image:url(menu/resized1.gif));

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.downloadbrochure a:hover

{

width:97px;

height:33px;

background-image:url(menu/resized1.gif);

background-repeat:no-repeat;

}

.downloadbrochure a.actives

{

width:97px;

height:33px;

background-image:url(menu/resized1.gif));

background-repeat:no-repeat;

}

.careers a

{

width:92px;

height:33px;

background-image:url(images/careers.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.careers a:hover

{

width:92px;

height:33px;

background-image:url(images/careers_rollover.jpg);

background-repeat:no-repeat;

}

.careers a.activec

{

width:92px;

height:33px;

background-image:url(images/careers_rollover.jpg);

background-repeat:no-repeat;

}

.contact a

{

width:92px;

height:33px;

background-image:url(images/contact.jpg);

background-repeat:no-repeat;

float:left;

text-indent:-1000px;

}

.contact a:hover

{

width:92px;

height:33px;

background-image:url(images/contact.jpg);

background-repeat:no-repeat;

}

.contact a.activec

{

width:92px;

height:33px;

background-image:url(images/contact.jpg);

background-repeat:no-repeat;

}



.partners a

{

background-image:url(images/partners_bttn.jpg);

height:33px;

width:96px;

float:left;

background-repeat:no-repeat;

text-indent:-1000px;

}

.partners a:hover

{

background-image:url(images/partners_bttn_roll.jpg);

height:33px;

width:96px;

background-repeat:no-repeat;

}

.partners a.activepar

{

background-image:url(images/partners_bttn_roll.jpg);

height:33px;

width:96px;

background-repeat:no-repeat;

}



.right_tab_top_bg

{

background-image:url(images/right_tab_top_bg.jpg);

background-repeat:repeat-x;

height:35;

}

.right_tab_bott_bg

{

background-image:url(images/right_tab_bott_bg.jpg);

background-repeat:repeat-x;

height:16px;

}

.footer_bg

{

background-image:url(images/footer_bg.jpg);

height:38px;

background-color:#dedede;

background-repeat:repeat-x;



}

.footer_text

{

font-family:Tahoma;

font-size:11px;

color:#ffffff;

vertical-align:middle;



}

.footer_right_text

{

font-family:Tahoma;

font-size:11px;

color:#db8b88;

text-align:right;

}

.footer_right_text a

{

font-family:Tahoma;

font-size:11px;

color:#db8b88;

text-decoration:none;

text-align:right;

}





/*---------------left navigation-------------*/



.main_text ul

{

font-family:Tahoma;

font-size:12px;

color:#000000;

list-style-type:none;

padding-left:0px;

margin-left:25px;

}

.main_text ul a

{

font-family:Tahoma;

font-size:12px;

color:#000000;

text-decoration:none;

list-style-type:none;

}

.main_text ul a:hover

{

font-family:Tahoma;

font-size:12px;

color:red;

text-decoration:none;

list-style-type:none;

}

.main_text ul a.selected

{

font-family:Tahoma;

font-size:12px;

color:red;

text-decoration:none;

list-style-type:none;

}

 .main_text ul li

 {

 font-family:Tahoma;

 font-size:12px;

 color:#000000;

 padding-left:15px;

 line-height:20px;

 }

.main_text ul li a

 {

 font-family:Tahoma;

 font-size:12px;

 color:#000000;

 padding-left:15px;

 text-decoration:none;

 line-height:20px;

 }

 .main_text ul li a:hover

 {

 font-family:Tahoma;

 font-size:12px;

 color:#red;

 padding-left:15px;

 text-decoration:none;

 line-height:20px;

 }

 .main_text ul li a.selected

 {

 font-family:Tahoma;

 font-size:12px;

 color:#red;

 padding-left:15px;

 text-decoration:none;

 line-height:20px;

 }



/*-------------------------------Static menu---------------------*/

.top_links

{

font-family:Tahoma;

font-size:11px;

color:#000000;

text-align:right;

padding-right:8px;

}



.top_links a

{

font-family:Tahoma;

font-size:11px;

color:#000000;

text-decoration:none;

}



.top_links a:hover

{

font-family:Tahoma;

font-size:11px;

color:#000000;

text-decoration:underline;

}



.left_nav

{

font: normal 11px Tahoma;

color: #000000;

width:185px;

padding-left:15px;

}



.left_nav a

{

font: normal 11px Tahoma;

color: #000000;

width:175px;

background-image:url(images/link1.jpg);

height:24px;

display:block;

line-height:24px;

padding-left:10px;

text-decoration:none;



}



.left_nav11

{

font: normal 11px Tahoma;

color: #000000;

width:185px;

padding-left:15px;

}



.left_nav11 a

{

font: normal 11px Tahoma;

color: #000000;

width:175px;

height:24px;

display:block;

line-height:24px;

padding-left:10px;

text-decoration:none;

}



.left_nav a.top

{

font: normal 11px Tahoma;

color: #000000;

width:175px;

background-image:url(images/link1.jpg);

height:24px;

display:block;

line-height:24px;

padding-left:10px;

text-decoration:none;

border-top:1px solid #e5e4e4;

}



.left_nav a.topsel

{

font: normal 11px Tahoma;

color: #e1261d;

width:175px;

background-image:url(images/link1.jpg);

height:24px;

display:block;

line-height:24px;

padding-left:10px;

text-decoration:none;

border-top:1px solid #e5e4e4;

}



.left_nav a:hover

{

font: normal 11px Tahoma;

color: #e1261d;

width:175px;

background-image:url(images/link1.jpg);

height:24px;

display:block;

line-height:24px;

text-decoration:none;

}



.left_nav a.selected

{

font: normal 11px Tahoma;

color: #e1261d;

width:175px;

background-image:url(images/link1.jpg);

height:24px;

display:block;

line-height:24px;

text-decoration:none;

}



.left_nav2

{

font: normal 11px Tahoma;

color: #000000;

padding-left:20px;

height:25px;

line-height:25px;

}



.left_nav2 a

{

font: normal 11px Tahoma;

color: #000000;

padding-left:20px;

text-decoration:none;

}



.left_nav2 a:hover

{

font: normal 11px Tahoma;

color: #e1261d;

text-decoration:none;

}



.left_nav2 a.selected

{

font: normal 11px Tahoma;

color: #000000;

text-decoration:none;

font-weight:bold;

}



.left_nav2 a:hover.selected

{

font: normal 11px Tahoma;

color: #000000;

text-decoration:none;

font-weight:bold;

}



.left_nav21

{

font: normal 11px Tahoma;

color: #000000;

padding-left:30px;

height:22px;

line-height:22px;

}



.left_nav21 a

{

font: normal 11px Tahoma;

color: #000000;

padding-left:30px;

text-decoration:none;

}



.left_nav3

{

font: normal 11px Tahoma;

color: #000000;

padding-left:25px;

height:20px;

line-height:20px;

}



.left_nav3 a

{

font: normal 11px Tahoma;

color: #000000;

padding-left:25px;

text-decoration:none;

}



.left_nav3 a:hover

{

font: normal 11px Tahoma;

color: #e1261d;

text-decoration:none;

}



.left_nav3 a.active

{

font: normal 11px Tahoma;

color: #000000;

padding-left:25px;

text-decoration:none;

font-weight:bold;

}





.list

{

font-family:Tahoma;

font-size:11px;

color:#000000;

}

.list ul

{

padding:0px;

margin:0px;

}

.list ul li

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:18px;

list-style-type:none;

padding-bottom:10px;

}





/*---------------style for acuitas retail----------*/



ul*html .list_retail

{

font-family:Tahoma;

font-size:11px;

color:#000000;

padding-left:10px;

margin-top:15px;

}

/**html .list_retail ul

{

padding-left:-10px;

margin-top:15px;

}*/

ul*html .list_retail li

{

font-family:Tahoma;

font-size:11px;

color:#000000;

list-style-type:disc;

line-height:22px;

}



ul.list_retail

{

font-family:Tahoma;

font-size:11px;

color:#000000;

padding-left:25px;

margin-top:4px;

}

/*.list_retail ul

{

padding-left:21px;



margin-top:5px;

}*/

ul.list_retail li

{

font-family:Tahoma;

font-size:11px;

color:#000000;

list-style-type:disc;

line-height:22px;

}





ul*html .list_optical

{

font-family:Tahoma;

font-size:11px;

padding-left:0px;

margin-top:10px;

}

/**html .list_optical ul

{

padding-left:-10px;

margin-top:0px;

}*/

ul*html .list_optical  li

{

list-style-type:disc;

line-height:22px;



}





ul.list_optical

{

font-family:Tahoma;

font-size:11px;

padding-left:15px;

margin-top:3px;

}

/*.list_optical ul

{

padding-left:20px;

margin-top:0px;

}*/

ul.list_optical li

{

list-style-type:disc;

line-height:22px;

}



/*partner*/



.partner_container

{

padding-top:25px;

padding-bottom:24px;

}



.partner_container1

{

padding-top:18px;

padding-bottom:45px;

padding-left:4px;

}

.text1

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:18px;

}



.text2

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:22px;

}



.text2 a

{

font-family:Tahoma;

font-size:11px;

color:#000000;

text-decoration:none;

}



.text2 a:hover

{

font-family:Tahoma;

font-size:11px;

color:#000000;

text-decoration:underline;

}



.text3

{

font-family:Tahoma;

font-size:11px;

color:#e2342c;

line-height:18px;

}



.text3 a

{

font-family:Tahoma;

font-size:11px;

color:#e2342c;

text-decoration:none;

}



.text3 a:hover

{

font-family:Tahoma;

font-size:11px;

color:#e2342c;

text-decoration:underline;

}



.text_cu

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:18px;

}

.text_cu a

{

font-family:Tahoma;

font-size:11px;

color:#e2342c;

text-decoration:none;

}



.text_cu a:hover

{

font-family:Tahoma;

font-size:11px;

color:#e2342c;

text-decoration:underline;

}

.list ul li a

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:18px;

list-style-type:none;

padding-bottom:10px;

text-decoration:none;

}





/*ul.red_bullet

{



font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

}



ul.red_bullet li

{

list-style-type:none;

background-image:url(images/bullet-1.gif);

background-repeat:no-repeat;

padding-left:20px;

line-height:22px;

background-position:10px left;

}



ul.red_bullet li a

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:22px;

text-decoration:none;

color:#000000;

}





*html ul.red_bullet

{



font-family:Tahoma;

font-size:11px;

}

*html ul.red_bullet li

{

list-style-type:none;

background-image:url(images/bullet-1.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:7px left;

line-height:22px;

}

*html ul.red_bullet li a

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:22px;

text-decoration:none;

color:#000000;

}

*/



.red_bullet

{

font-family:Tahoma;

font-size:11px;

color:#000000;

line-height:18px;

}



.red_bullet ul

{

margin:0px;

padding:0px;

}



.red_bullet ul li

{

background-image:url(images/bullet-1.gif);

background-repeat:no-repeat;

background-position:0px 6px;

list-style-type:none;

padding-left:20px;

}



.red_bullet ul li a

{

text-decoration:none;

}

.red_bullet ul li a:hover

{

text-decoration:underline;

}



/*---------------------------------------not in use----------------*/

.red_bullet ul li ul

{

padding:0px;

margin:0px;

list-style-type:none;

}



.red_bullet ul li ul li

{

background-image:none;

padding-left:14px;

}



.red_bullet ul li ul li ul

{

padding:0px;

margin:0px;

list-style-type:none;

}



.red_bullet ul li ul li ul li

{

background-image:none;

padding-left:18px;

}



.red_bullet ul li a

{

font-family:Tahoma;

font-size:11px;





text-decoration:none;

color:#000000;

}

ul.grey_bullet

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:20px;



}



ul.grey_bullet li

{

list-style-type:none;

background-image:url(images/bullet-2.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:5px left;

}



*html ul.grey_bullet

{



font-family:Tahoma;

font-size:11px;

}

*html ul.grey_bullet li

{

list-style-type:none;

background-image:url(images/bullet-2.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:5px left;

background-position:top;

line-height:22px;

}









ul.cross_bullet

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:20px;



}



ul.cross_bullet li

{

list-style-type:none;

background-image:url(images/bullet-3.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:6px left;

}



*html ul.cross_bullet

{



font-family:Tahoma;

font-size:11px;

}

*html ul.cross_bullet li

{

list-style-type:none;

background-image:url(images/bullet-3.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:6px left;

line-height:22px;

}











ul.arrow_bullet

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:20px;



}



ul.arrow_bullet li

{

list-style-type:none;

background-image:url(images/bullet-4.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:7px left;

}



*html ul.arrow_bullet

{



font-family:Tahoma;

font-size:11px;

}

*html ul.arrow_bullet li

{

list-style-type:none;

background-image:url(images/bullet-4.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:7px left;

line-height:22px;

}











ul.square_bullet

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:20px;



}



ul.square_bullet li

{

list-style-type:none;

background-image:url(images/bullet-5.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:6px left;

}



*html ul.square_bullet

{



font-family:Tahoma;

font-size:11px;

}

*html ul.square_bullet li

{

list-style-type:none;

background-image:url(images/bullet-5.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:6px left;

line-height:22px;

}













ul.flower_bullet

{

font-family:Tahoma;

font-size:11px;

margin:0px;

padding:0px;

line-height:20px;



}



ul.flower_bullet li

{

list-style-type:none;

background-image:url(images/bullet-6.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:7px left;

}



*html ul.flower_bullet

{



font-family:Tahoma;

font-size:11px;

}

*html ul.flower_bullet li

{

list-style-type:none;

background-image:url(images/bullet-6.gif);

background-repeat:no-repeat;

padding-left:20px;

background-position:7px left;

line-height:22px;

}



/*-----------------------------------------------------------*/

.date_text 

{

font-family:Tahoma;

font-size:10px;

color:#666666;

line-height:22px;



}



.tf_form_text

{

width:360px;

float:left;

font-family:Arial;

font-size:12px;

color:#000000;

padding-bottom:2px;

}



.tf_form_textfield1

{

width:153px;

float:left;

border:1px solid #a5acb2;

margin-bottom:10px;

font-family:Verdana;

font-size:11px;

color:#000000;

padding:2px;

}



.tf_form_textfield5

{

width:120px;

float:left;

border:1px solid #a5acb2;

margin-bottom:10px;

font-family:Verdana;

font-size:11px;

color:#000000;

padding:2px;

}



.tf_form_textfield3

{

width:242px;

float:left;

border:1px solid #a5acb2;

margin-bottom:10px;

font-family:Verdana;

font-size:11px;

color:#000000;

padding:2px;

}



.tf_form_textfield31

{

width:242px;

float:left;

border:1px solid #a5acb2;

margin-bottom:10px;

font-family:Verdana;

font-size:11px;

color:#999999;

padding:2px;

}



.tf_form_textfield4

{

width:291px;

float:left;

border:1px solid #a5acb2;

overflow:hidden;

font-family:Verdana;

font-size:11px;

color:#000000;

padding:2px;

}



.star

{

color:#c53e38;

font-family:Verdana;

font-size:11px;

}

 img {border:0;}
 