	body {background-color:#e9e9e9;}	
	.wrapper {margin:2em;}
	
	.mol {
		width:200px;
		height:200px;
		background:transparent url('molecule.png') top center no-repeat;
		position:absolute;
		left:400px;
		
		-webkit-animation-name: roll-in, scale-up;
		-moz-animation-name: roll-in, scale-up;
		-o-animation-name: roll-in, scale-up;
		animation-name: roll-in, scale-up;
		
		-webkit-animation-duration: 1s, .75s;
		-moz-animation-duration: 1s, .75s;
		-o-animation-duration: 1s, .75s;
		animation-duration: 1s, .75s;
				
		-webkit-animation-delay: 0s,1s;
		-moz-animation-delay: 0s,1s;
		-o-animation-delay: 0s,1s;
		animation-delay: 0s ,1s;
		
		-webkit-animation-timing-function: ease-in, linear;
		-moz-animation-timing-function: ease-in, linear;
		-o-animation-timing-function: ease-in, linear;
		animation-timing-function: ease-in, linear;
		
		-webkit-animation-iteration-count: 1;
		-moz-animation-iteration-count: 1;
		-ms-animation-iteration-count: 1;
		-o-animation-iteration-count: 1;
		animation-iteration-count: 1;
	
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	

	
	@-webkit-keyframes roll-in {
		0%{-webkit-transform: translateX(-200px) rotate(0deg);}		
		100% {-webkit-transform: translateX(0px) rotate(360deg);}		
	}

	@-webkit-keyframes scale-up {
		0% {
			-webkit-transform: scale(1);
			-webkit-animation-timing-function: ease-in;
		}
		25% {
			-webkit-transform: scale(1.2);
			-webkit-animation-timing-function: ease-out;
		}
		60% {
			-webkit-transform: scale(1);
			-webkit-animation-timing-function: ease-in;
		}
		100% {
			-webkit-transform: scale(1.2);
			-webkit-animation-timing-function: ease-out;
		}
	}
	
	@-moz-keyframes roll-in {
		0% {-moz-transform: translateX(-200px) rotate(0deg);}	
		100% {-moz-transform: translateX(0px) rotate(360deg);}		
	}

	@-moz-keyframes scale-up {
		0% {
			-moz-transform: scale(1);
			-moz-animation-timing-function: ease-in;
		}
		25% {
			-moz-transform: scale(1.2);
			-moz-animation-timing-function: ease-out;
		}
		60% {
			-moz-transform: scale(1);
			-moz-animation-timing-function: ease-in;
		}
		100% {
			-moz-transform: scale(1.2);
			-moz-animation-timing-function: ease-out;
		}
	}
	
	@-o-keyframes roll-in {
		0%{	-o-transform: translateX(-200px) rotate(0deg);}	
		100% {-o-transform: translateX(0px) rotate(360deg);}		
	}

	@-o-keyframes scale-up {
		0% {
			-o-transform: scale(1);
			-o-animation-timing-function: ease-in;
		}
		25% {
			-o-transform: scale(1.2);
			-o-animation-timing-function: ease-out;
		}
		60% {
			-o-transform: scale(1);
			-o-animation-timing-function: ease-in;
		}
		100% {
			-o-transform: scale(1.2);
			-o-animation-timing-function: ease-out;
		}
	}
	
	@-keyframes roll-in {
		0%{	transform: translateX(-200px) rotate(0deg);}	
		100% {transform: translateX(0px) rotate(360deg);}		
	}

	@-keyframes scale-up {
		0% {
			transform: scale(1);
			animation-timing-function: ease-in;
		}
		25% {
			transform: scale(1.2);
			animation-timing-function: ease-out;
		}
		60% {
			transform: scale(1);
			animation-timing-function: ease-in;
		}
		100% {
			transform: scale(1.2);
			animation-timing-function: ease-out;
		}
	}


	
	
