td {
	text-align: left;
	vertical-align: top;
	font-family: Helvetica,Arial,sans-serif;
	font-size:12px;
	color:#6B6B6B;
	line-height:18px;
}
a {
	text-decoration: underline;
	color:#94BE23;
	font-size:13px;
}

body { 	margin:0px;padding:0px;	}
.copy{
font-family:Helvetica,Arial,sans-serif;
font-size:15px;
color:#6B6B6B;
text-decoration:none;
}

.top_txt {color:#646464; font-size:13px}

.gray {color:#6B6B6B; text-decoration:none}
.blue {color:#3082A8}
.green {color:#94BE23}



a:hover{text-decoration:underline; }

#under{text-decoration:underline;}

