<section>
	<article>
	<h2> Carphone <span>Warehouse</span></h2>
	<a href="http://www.carphonewarehouse.ie" target="_blank">
    <img src="images/cpw_04.jpg" width="385" height="76" alt="Carphone Warehouse"  class="float-left" /></a>						
		<p>
		This was the main project I was working on during my time at <a href="http://www.jeebers.com">Jeebers</a>. 
		Jeebers focused on eCommerce solutions using customisation of the standard <a href="http://www.jshop.co.uk/">jShop</a> online store engine. 
		I worked a lot on rewriting the underlying engine to reduce the checkout process from 4 steps into two which involved extensive modifications to jShop. 
		</p>
		</p>	
		We created a completely new checkout process and embedded it into the standard jShop package. This was great experience for me as it involved extensive use of PHP and Javascript along with some Java to deal with credit card validation. This was the most high profile project I had worked on at that time and am quite proud of the final result. 
	</p>								
	</article>

</section>