<h2>Ocuco <a href="http://www.ocuco.com" target="_blank">	<img src="images/header_acuitas_optical.jpg" width="190" height="39"  alt="Ocuco"  class="float-left" /></a></h2>
					
<p>
	I worked on this website when I was an Ocuco employee between 2007 and 2009. I was employed in Customer Support however due to my web experience and desire to move into development they asked me to help them with their website. They needed to move their site to a new hosting location and to make some changes to the site. They redesigned the website, outsourcing to a design company who did a great job with the design but delivered a poor quality site. It was a completely static site which wasn't at all portable and a nightmare to maintain. There was a lot of duplicated HTML and redundant CSS and making the smallest change was a disaster. 
</p>
<p>
	I took over the project and made the site my own building on the existing design and optimising it. I used PHP to convert it from a static HTML based site to an easily maintainable dynamic PHP application. 
	I improved the sites usability and quality with an excellent navigation system and ensured it met all of the web standards for XHTML, CSS and accessibility. 
	I wrote it using PHP for the core logic and JavaScript and flash for some additional features. I used <a href="http://www.jquery.com" target="_blank">jQuery</a> to build an easily navigatible menu. This was one of my first jQuery projects and its usefulness here encouraged me to master it. 
</p>
<p>
	Another aspect of this web project was to work directly with the marketing director to improve SEO. I signed the site up to use Google analytics to monitor users visiting the site and adding scripts to integrate the site with SalesForce. I then trained the marketing team on how to track users and events and showed them the benefits this could provide. I attended several Google Webinars detailing how we could increase our web profile and this helped me to upskill my SEO knowledge. 
</p>
<p>
	After the re-vamp there was a period where a lot more leads were generated and it sparked interest in the company. They have since re-vamped the site again to match their new company colours however I can see a lot of my work is still present. 
	This project was a large success, for me and the compamny, and by the end of my tenure at Ocuco I was splitting my time 50:50 between my actual day job in support and work as the company webmaster. 
</p>