

<a href="http://www.shop-electric.co.uk" target="_blank" ><img src="images/logonew.gif" width="200" height="43" alt="shop-electric"  class="float-left" /></a>

						<td><p><a href="http://www.shop-electric.co.uk" target="_blank">http://www.shop-electric.co.uk</a></p>

						<p>
						This was another project I was working on during my time at <a href="http://www.jeebers.com">Jeebers</a>. I transferred the site form its old host to a 
						new host and domain and configured the site to work from its new location. 
						</p>
