<section>
	<article>
	<h2> Student Performance Analysis <span> MENT Thesis</span></h2>
		<p>
		As part of my masters in engineering, I needed to complete a thesis. The thesis I chose was a research project on data visualisation techniques and ways new tehcnology could be used to track and monitor student academic performance. As part of this I developed a J2EE based web application that stored student information and allowed the user to view this information via various visualisations. 
		</p>	
		<p>
			The front end of the application was developed using a mix of HTML5 and CSS3 along with javascript. Throguh the reseach for this project I discovered jQuery and the jQuery UI for the first time and used them to help provide a nice experience for the users. I used a back-end mySQL database to store the student information and Java servlets and JSP's to connect and retrieve the data for display in the front end. 
		</p>					
	</article>

</section>