<section>
	<article>
	<h2> TNF Customer Dashboard</h2>
		<p>
		During my time at <a href="http://www.thenowfactory.com/" target="_blank"> The Now Factory</a> I developed several tools to help Operations ptimise their time and manage coustomer issues effectively. 
		This dashboard was something I worked on during my time there and was used to show important information on a flat screen TV in the office. 
		</p>	
		<p>
		The Page was powered by some backend bash scripts and PHP that retrieved information from web services and from a mySQL database to update the GUI as required. 
		The traffic lights were used to show whther there were any issues on customer sites using the standard RAG system. We had companies all over the world running our debian systems and we needed a way to proactively monitor them. We installed Nagios on the servers and configured it to send emails back to our email account. I used a script to load these into the mySQL database and this was then used to update the traffic light display. The system was also monitoring Jira issues raised by customers which were also loaded into our databse using the Jira CLI. 
		</p>	
		<p>
			The application had several other features including an organisational chart and an interactive customer site map.
		</p>				
	</article>

</section>