/* animation-direction */

body {margin: 4em 10%; background:#737373;}
		
 .ball {
	-webkit-animation-name: move-right;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes move-right {
	from {-webkit-transform: translateX(0);}
	to {-webkit-transform: translateX(450px);}
}
